<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>main page</title>
    <script>
        function validateForm(){
            var name=document.getElementById('name').value;
            var StudentNumber=document.getElementById('StudentNumber').value;
            var Gender=document.getElementById('gender').value;
            var Major=document.getElementById('major').value;
    
            if (!name|| !StudentNumber || !Gender || !Major){
                alert('필수 정보를 다 입력해주세요!');
                return false;
            }
            console.log(name+StudentNumber)
            return true;
        }
    </script>
</head>    

<body>
    <form action="/result" method="POST">
        <p><b>Name </b> <input type='text' id='name' name='name'></p>
        <p><b>Student Number </b> <input type='text' id='StudentNumber' name='StudentNumber'></p>
        
        <p>Gender</p>
        <p><input type='radio' value='Male' name='gender'/>Male
        <input type='radio' value='Female' name='gender'/>Female</p>
        
        <p><b>Major</b> <input type='text' id='major' name='major'/></p>

        <p>Programming Languages</p>
        <label><input type='checkbox' name='Python'>Python</label>
        <label><input type='checkbox' name='Java'>Java</label>
        <label><input type='checkbox' name='HTML'>HTML</label>
        <label><input type='checkbox' name='C++'>C++</label>

        <p> </p>
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
    
</body>
</html>